{% extends 'news/base.html' %}
{% block title %}Свяжитесь с нами!{% endblock%}
{% block  content%}
<section class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Обратка</h1>
          <p class="lead">Пиши тутаа</p>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'contact'%}" method="POST">
                {% csrf_token %}
                <label for="">Ф.И.О</label>
                <input type="text" name="name" class="form-control">
                <label for="">Телефон</label>
                <input type="text" class="form-control" name="phone">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control">
                <label for="">Сообщение</label>
                <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
                <button class="btn btn-outline-dark"></button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Наш адрес: </h3>
            <p>Улица Пушкина Дом Колотушкина</p>
            <h3>Телефоны: </h3>
            <p>88005553535</p>
            <p>+998932864315</p>
        </div>
    </div>
</section>
{% endblock %}