{% extends 'news/base.html' %}
{% block title %}Главная{% endblock%}
{% block  content%}
<h1>HALLO!!!</h1>
<section class="container">
    <div class="row">
        {% for post in popular %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                
                <a href="{{post.get_absolute_url}}">
                    {% if post.image.url != null%}
                    <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    {% endif%}
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <a href="{{post.category.geet_absolute_url}}">
                    <p class="card-title">{{post.category.title}}</p>
                  </a>
                  <p class="card-text">{{post.summary}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}